

.card {
    position: relative;
}



.button-save {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 45px;
    font-weight: bold;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    cursor: pointer;
    font-size: 21px;
    z-index: 1;
}



.card:hover .button-save {
    opacity: 1;
}
.card:hover img {
    filter: brightness(50%);
}
.card img {
    transition: all 0.2s ease-in-out;
}